body {
  font-family: Ubuntu, system-ui;
  background-color: #101010;
  color: #fbf7f7;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}

a,
header button {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 8px;
  font-family: Ubuntu, system-ui;
}

.folders-actions {
  margin-block: 1rem;
}

.folder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #353535;
  border-radius: 4px;
  padding: 4px 12px;
  margin-block: 0.5rem;
}

.file{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: #3f3e4c;
  border-radius: 4px;
  padding: 4px 12px;
  margin-block: 0.5rem;
}

a.file-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

#newFolderDialog,
#newFileDialog {
  padding: 1rem;
  background-color: grey;
  position: relative;
}

.dialog-exit-icon {
  position: absolute;
  color: black;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
